# python notebook checkpoints
**/.ipynb_checkpoints/


# data folder
**/ny_taxi_postgres_data/

# data files
**/*.csv
**/*.csv.gz

# virtual env
.my_env/

# miscellaneous files
~$*

# environment variable
**/*.bashrc

# google environment credentials
misc/blissful-flames-375219-24d8499e70a5.json
**google_credentials.json

# logs
**logs/

# environments
**.env*

# misc
**__pycache__/
.history
**/ny_taxi_postgres_data/*
serving_dir
*.csv
.ipynb_checkpoints/