# python notebook checkpoints
**/.ipynb_checkpoints/


# data folder
**/ny_taxi_postgres_data/

# data files
**/*.csv
**/*.csv.gz

# virtual env
.my_env/

# miscellaneous files
~$*

# environment variable
**/*.bashrc