# python notebook checkpoints
**/.ipynb_checkpoints/


# data files
**/*.csv
**/*.csv.gz
**/*.parquet

# virtual env
.my_env/

# miscellaneous files
~$*

# environment variable
**/*.bashrc

# google environment credentials
misc/blissful-flames-375219-24d8499e70a5.json
**google_credentials.json

# logs
**logs/

# environments
**.env*

# misc
**__pycache__/
.history
**/ny_taxi_postgres_data/*
serving_dir
*.csv
.ipynb_checkpoints/


# Predect .git ignore
# prefect artifacts
.prefectignore

# python artifacts
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
*.egg

# Type checking artifacts
.mypy_cache/
.dmypy.json
dmypy.json
.pyre/

# IPython
profile_default/
ipython_config.py
*.ipynb_checkpoints/*

# Environments
.python-version
.env
.venv
env/
venv/


# Dask
dask-worker-space/

# Editors
.idea/
.vscode/

# VCS
.git/
.hg/